/* @font-face {
  font-family: 'NewYork';
  src: url('fonts/NewYork.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} */

body {
  font-family: NewYork;
  font-weight: 100;
  color: var(--dark-blue);
}

h1 {
  font-family: var( --main-font);
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 0.3em;
}

.text-box p {
  /* background-color: blue; */
  font-family: inter;
  font-weight: 400;
}

h2 {
  font-family: var( --main-font);
  font-size: 2rem;
  /* margin-bottom: 1em; */
  opacity: 0.5;
}


.book-header p {
  font-weight: 400;
  opacity: 0.3;
font-size: 1.3em;
}

.book-description {
  font-weight: 300;
}


a {
  font-family: var( --body-text-font);
  font-weight: 400;
}