:root {
  /* fonts */
  --main-font: NewYork;
  --body-text-font: inter;

  /* colors */
  --dark-blue: #092353;
  --purple: #8C92EF;
  --pink: #F3D6F2;


}







/* .book-title {
  background-color: rgb(0, 229, 255);
}

img {
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, #ff7e5f, #feb47b);
}


body {
  background-color: #feb47b;
} */