:root {
  /* fonts */
  --main-font: NewYork;
  --body-text-font: inter;

  /* colors */
  --dark-blue: #092353;
  --purple: #8C92EF;
  --pink: #F3D6F2;

}

main {
 display: flex;
 flex-direction: column;

}

/* Zoekformulier styling */
.search {
  margin: 20px auto;
  text-align: center;
}

/* Grid voor de boeken */
.books-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 3rem;
  /* padding-top: 1rem; */
}

@keyframes cloudEffect {
  0% {
    box-shadow: inset 0 -110px 25px -30px rgba(255, 255, 255);
  }
  25% {
    box-shadow: inset 20px -100px 30px -20px rgba(255, 255, 255);
  }
  50% {
    box-shadow: inset -10px -120px 80px -25px rgba(255, 255, 255);
  }
  75% {
    box-shadow: inset 10px -105px 30px -30px rgba(255, 255, 255);
  }
  100% {
    box-shadow: inset 0 -110px 25px -30px rgba(255, 255, 255);
  }
}

.book-card {
  position: relative;
  /* overflow: hidden; */
  border-radius: 10px;
  /* animation: cloudEffect 6s ease-in-out infinite; */

}


.book-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: -2;
  position: relative;
}

.book-card .overlay {
  position: absolute;
  bottom: 10; /* Onderaan positioneren */
  left: 0;
  width: 100%;
  font-weight: 400;
  color: var(--dark-blue);
  background-color: #6a7ec2;
  transition: opacity 0.3s ease;
  margin-top: 40px;
  border-radius: 0 0 10px 10px;
  text-align: left;
  opacity: 0;
  box-shadow: inset 0 -110px 25px -30px rgb(255, 255, 255);
}

.book-card{
  box-shadow: inset 0 -110px 25px -30px rgb(255, 255, 255);
}

.book-card:hover .overlay {
  opacity: 1;
}


/* Algemeen formulier styling */
.search-form {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  max-width: 600px;
  margin-bottom: 3rem;
}

.search-input {
  width: 100%;
}

.search-input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-category {
  width: 100%;
}

.search-category-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  background-color: #8C92EF; /* Kleur voor de button */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #6a7ec2; /* Donkerdere tint voor hover */
}

/* Styling voor kleine schermen (mobiel) */
@media (max-width: 400px) {
  main {

    grid-template-columns: repeat(10px, 1fr);
  }

  .books-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin-top: 2em;
  }

  
  }

/* banner */
.home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
 
  margin-bottom: 2em;
  background-image: url('/images/gradient-background.jpg');
  flex-wrap: wrap;
  /* background-size: cover; */
}

.home-banner img  {
  width: 500px;
}

.home-banner .text-box {
  margin: 5em;

}


/* book content */
.book-content {
  margin: 3rem 5rem;
}

.book-card a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.favorites-button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: gold;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}