<li class="book-card">
  <a href="/book/{{ book.id }}">
    <img src="{{ book.thumbnail }}" alt="Cover van {{ book.title }}">
    <div class="overlay">
      <p>{{ book.title }}</p>
    </div>
  </a>
</li>